@import 'tailwindcss';
@import '../styles/github-dark-dimmed.css';
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
main {
  overflow-x: hidden;
  width: 100%;
}

.dark {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
/* 테이블 외부 래퍼가 넘치지 않도록 */
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  padding: 1rem 0;
}

/* 기본 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

.hljs {
  color: #c9d1d9;
  background: #0d1117;
}

pre:has(.hljs),
.hljs {
  font-size: 12px;
  color: #c9d1d9;
  background: #0d1117;
}

@font-face {
  font-family: '42dotSans';
  src: url('/fonts/42dotSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liter-Regular';
  src: url('/fonts/Liter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  word-wrap: break-word;
}

body {
  font-family: 'Liter-Regular NotoSansKR';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-red {
  background-color: #f87171;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.bg-yellow {
  background-color: #fde047;
  color: black;
  padding: 4px;
  border-radius: 4px;
}
.bg-green {
  background-color: #4ade80;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.bg-blue {
  background-color: #60a5fa;
  color: white;
  padding: 4px;
  border-radius: 4px;
}
.bg-purple {
  background-color: #c084fc;
  color: white;
  padding: 4px;
  border-radius: 4px;
}

.text-red {
  color: #f87171;
  font-weight: bold;
}

.text-yellow {
  color: #fde047;
  font-weight: bold;
}
.text-green {
  color: #4ade80;
  font-weight: bold;
}
.text-blue {
  color: #60a5fa;
  font-weight: bold;
}
.text-purple {
  color: #c084fc;
  font-weight: bold;
}
