@import 'tailwindcss';
@import '../styles/github-dark-dimmed.css';
@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.hljs {
  color: #c9d1d9;
  background: #0d1117;
}

pre:has(.hljs),
.hljs {
  font-size: 12px;
  color: #c9d1d9;
  background: #0d1117;
}

@font-face {
  font-family: '42dotSans';
  src: url('/fonts/42dotSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Liter-Regular';
  src: url('/fonts/Liter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  word-wrap: break-word;
}

body {
  font-family: 'Liter-Regular NotoSansKR';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
