@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
	color: gray;
}

::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.transition {
	transition:
		0.2s ease-in-out,
		color 0.2s ease-in-out;
}

.table-wrapper {
	@apply no-scrollbar overflow-x-scroll;
}

.point {
	color: red;
	font-weight: bold;
}

.active_toc {
	font-weight: bold;
}

.category {
	transition: transform 0.3s ease-out;
}

.active_category {
	transform: translateX(0);
}

@layer base {
	* {
		/* @apply text-defaultColor-900 dark:text-zinc-200; */
	}

	html {
		@apply box-border max-h-screen;
	}

	sub {
		color: gray;
	}

	header {
		transition:
			background-color 0.2s ease-in-out,
			color 0.2s ease-in-out;
	}

	body {
		transition:
			background-color 0.2s ease-in-out,
			color 0.2s ease-in-out;

		@apply m-0 h-full overflow-x-hidden bg-darkDefaultColor-900 p-0 dark:bg-defaultColor-900;
	}

	.all-prose {
		@apply prose prose-slate whitespace-normal p-5 dark:prose-invert prose-h1:pt-10 prose-h1:text-3xl  prose-h1:font-black  prose-a:text-inherit prose-a:decoration-transparent;
	}

	h1,
	h2 {
		@apply pt-10;
	}

	h3 {
		@apply pt-5;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply whitespace-normal;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	li {
		@apply no-scrollbar whitespace-normal;
	}

	code {
		@apply no-scrollbar overflow-x-scroll;
	}

	a {
		@apply whitespace-normal text-inherit no-underline dark:text-darkDefaultColor-900;
	}

	hr {
		@apply border-zinc-100 dark:border-zinc-700/25;
	}

	img {
		@apply my-6 block max-w-full shadow-xl;
	}

	.tag {
		@apply my-1 mb-1 ml-0 mr-2 mt-2 rounded bg-pointColor-700 p-2 px-2 py-0  dark:bg-darkPointColor-700;
	}

	.date {
		@apply mt-2 text-xs font-light max-sm:hidden;
	}

	.post-list-container {
		@apply m-4 flex cursor-pointer flex-col justify-evenly rounded-xl p-4 text-left text-defaultColor-900 hover:bg-pointColor-500
    hover:shadow-customSm dark:text-darkDefaultColor-900 dark:hover:bg-darkPointColor-500 dark:hover:shadow-customDarkSm;
	}
}
