@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.scrollbar-hide::-webkit-scrollbar {
	/* width: 10px; */
}

.scrollbar-hide::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 10px;
	border: 2px solid #555555;
}

.transition {
	transition: 0.2s ease-in-out, color 0.2s ease-in-out;
}

.table-wrapper {
	@apply overflow-x-scroll;
}

@layer base {
	* {
		/* @apply text-defaultColor-900 dark:text-zinc-200; */
	}

	html {
		@apply box-border max-h-screen;
	}

	header {
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	body {
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

		@apply scrollbar-hide mx-auto my-0 bg-darkDefaultColor-900 p-0 dark:bg-defaultColor-900;
	}

	.all-prose {
		@apply prose prose-slate whitespace-normal dark:prose-invert prose-a:decoration-transparent;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply whitespace-normal text-zinc-900;
	}

	li {
		@apply block overflow-x-scroll;
	}

	code {
		@apply block overflow-x-scroll;
	}

	a {
		@apply block overflow-x-scroll no-underline dark:text-darkDefaultColor-900;
	}

	hr {
		@apply border-zinc-100 dark:border-zinc-700/25;
	}

	img {
		@apply my-6 block max-w-full shadow-xl;
	}

	.tag {
		@apply my-1 mb-1 ml-0 mr-2 mt-2 rounded bg-pointColor-700 p-2 px-2 py-0  dark:bg-darkPointColor-700;
	}

	.date {
		@apply mt-2 text-xs font-light text-defaultColor-700 dark:text-darkDefaultColor-700 max-sm:hidden;
	}

	.post-list-container {
		@apply m-4 flex cursor-pointer flex-col justify-evenly rounded-xl p-4 text-left text-defaultColor-900 hover:bg-pointColor-500
    hover:shadow-customSm dark:text-darkDefaultColor-900 dark:hover:bg-darkPointColor-500 dark:hover:shadow-customDarkSm;
	}
}
